<nav class="navbar bg-body-tertiary bg-dark text-white">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="https://play-lh.googleusercontent.com/lMrBvD9Xr3Lyh6bs1OVDCanvhoZQEu4sWICjbM5amCrMSgHKFjnjfJ4_1iZpGME0L7Y=w240-h480-rw"
                alt="" width="40px" height="40px" class="rounded-circle mx-auto img-fluid">
        </a>
        <div class="d-flex">
            <a class="nav-link p-3 btn btn-dark" [routerLink]="['/home']">Home</a>
            <a class="nav-link p-3 btn btn-dark" [routerLink]="['/new']">New User</a>
        </div>
    </div>
</nav>