<nav class="navbar bg-body-tertiary bg-dark text-white">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="https://cdn4.vectorstock.com/i/1000x1000/94/73/user-management-icon-vector-22989473.jpg" alt=""
                width="40px" height="40px" class="rounded-circle mx-auto img-fluid">
        </a>
        <div class="d-flex">
            <a class="nav-link active p-3" [routerLink]="['/home']">Home</a>
            <a class="nav-link p-3" [routerLink]="['/form']">New User</a>
        </div>
    </div>
</nav>