<div class="card shadow p-2">
    <img [src]='miUser.image' alt="" class="rounded-circle">
    <h5 class="text-center">{{ miUser.first_name }} {{ miUser.last_name}}</h5>
    <div class="d-flex mx-auto">
        <button class="btn btn-light" [routerLink]="['/user', miUser._id]">
            <i class="fa-solid fa-pen-to-square fa-2x"></i>
            <figcaption>Details</figcaption>
        </button>
        <button type="button" class="btn btn-light" [routerLink]="['/form', miUser._id]">
            <i class="fa-solid fa-arrows-rotate fa-2x"></i>
            <figcaption>Update</figcaption>
        </button>

        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
            (click)="delete(miUser._id)">
            <i class="fa-solid fa-trash  fa-2x"></i>
            <figcaption>Delete</figcaption>
        </button>
    </div>

    <!-- <app-alert [deleteUser]="miUser"></app-alert> -->
</div>