* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    justify-content: space-between;
}

button {
    margin-right: 20;
    border-style: none;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}


/* .row  */
article {
    width: calc(33.333% - var(--valor));
    padding: 20px;
    border: 1px solid black;
    border-radius: 10%;
    padding: 1%;
    margin: 2%;
    box-shadow: 1px 1px10px var(--color);
}

.user-photo {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.user-name {
    text-align: center;
}