<div class="profile">
    <div>
        <img [src]='userProfile.photo' alt="" class="user-photo">
    </div>
    <div class="line"></div>
    <div class="info">

        <p class="user-name"> {{ userProfile.name }}</p>
        <p class="user-name">{{ userProfile.surname }} </p>
        <p class="user-name">Username: {{ userProfile.name }}</p>
        <p class="user-name">Email: {{ userProfile.email}}</p>

        <div class="all-butons">
            <button type="button" class="btn btn-outline-secondary">Delete</button>
            <button type="button" class="btn btn-outline-secondary">Update</button>
            <button type="button" class="btn btn-outline-secondary">Back</button>
        </div>
    </div>
</div>