<div class="profile">
    <div>
        <img [src]='userProfile.photo' alt="" class="rounded-circle mx-auto img-fluid">
    </div>
    <div class="line"></div>
    <div class="info">

        <p class="user-name"> {{ userProfile.name }}</p>
        <p class="user-name">{{ userProfile.surname }} </p>
        <p class="user-name">Username: {{ userProfile.name }}</p>
        <p class="user-name">Email: {{ userProfile.email}}</p>

        <div class="all-butons">
            <button type="button" class="btn btn-outline-secondary"
                [routerLink]="['/alert', userProfile.name]">Delete</button>
            <button type="button" class="btn btn-outline-secondary"
                [routerLink]="['/form', userProfile.name]">Update</button>
            <button type="button" class="btn btn-outline-secondary" [routerLink]="['/home']">Back</button>
        </div>
    </div>
</div>