<section class="container mt-4 vh-100">
    <div class="card p-3">
        <div class="d-flex align-items-center">
            <img [src]='userProfile?.image' alt="" class="rounded-circle mx-auto img-fluid">
            <div class="d-flex" style="height: 400px;">
                <div class="vr"></div>
            </div>
            <div class="mx-auto justify-content-center">

                <h4 class="p-3"> {{ userProfile?.first_name }}</h4>
                <h4 class="p-3">{{ userProfile?.last_name }} </h4>
                <p class="p-3"><strong>Username:</strong> {{ userProfile?.first_name }}</p>
                <p class="p-3"><strong>Email:</strong> {{ userProfile?.email}}</p>

                <div class="all-butons p-3">
                    <button type="button" class="btn btn-outline-secondary" (click)="delete(userProfile._id)"
                        data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</button>
                    <button type="button" class="btn btn-outline-secondary"
                        [routerLink]="['/form', userProfile?._id]">Update</button>
                    <button type="button" class="btn btn-outline-secondary" [routerLink]="['/home']">Back</button>
                </div>
            </div>
        </div>
    </div>
</section>