input.ng-invalid.ng-touched {
    border-bottom: 3px solid tomato;
}

input.ng-valid.ng-touched {
    border-bottom: 3px solid rgb(151, 216, 151);
}

.error {
    color: tomato;
    font-size: 10px;
}